<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/main.css">

    </head>
    <header>
        <div class="jumbotron text-center" id="header">
            <div class="row">
                <div class="col-sm-1">
                    <a href="/"><img src="/static/sprinter_logo.jpg" id="logo"></a>
                </div>
                <div class="col-sm-8">
                    <h1>Super Sprinter 3000</h1>
                </div>
            </div>
        </div>
    </header>
    <body>
        {% block content %}

        {% endblock %}
    </body>
    <footer>2019 made by Harnet</footer>
</html>