<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Super Sprinter 3000</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/main.css">

    </head>
    <body>
        <a href="/"><h1>SUPER SPRINTER 3000</h1></a>
        <a href="/story">Add new User Story</a>
        <table class="table table-striped">
            <thead>
                {% if user_stories %}
                    <caption>User stories</caption>
                {% endif %}
                <tr>
                    {% if user_stories %}
                        {% for header in stories_headers %}
                            <th>{{header}}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for story in user_stories %}
                    <tr>
                    {% for item in story %}
                        <td>{{item}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </>
        <ul>

        </ul>
    </body>
</html>