{% extends 'base.html' %}

{% block title %}{{"Edit User Story" if story_to_edit else 'Add User Story'}}{% endblock %}

{% block content %}

    <h1>{{"Edit User Story" if story_to_edit else 'Add User Story'}}</h1>
    <form action="{{ story_to_edit[0] if story_to_edit else '/story' }}" method="POST">
        <input type="hidden" value="{{ story_to_edit[0] if story_to_edit else ''}}" name="story_id">
      <div class="form-group">
        <label for="story_title">Story Title:</label>
        <input required pattern=".{5,}" required title="5 characters minimum" type="text" class="form-control" id="story_title" value="{{ story_to_edit[1] if story_to_edit else ''}}" name="story_title">
      </div>
      <div class="form-group">
        <label for="user_story">User Story:</label>
          <textarea required class="form-control" id="user_story" name="user_story">{{ story_to_edit[2] if story_to_edit else ''}}</textarea>
      </div>
      <div class="form-group">
          <label for="acc_crit">Acceptance Criteria:</label>
          <textarea required class="form-control" id="acc_crit" name="acc_crit">{{ story_to_edit[3] if story_to_edit else ''}}</textarea>
      </div>
      <div class="form-group">
        <label for="business_value">Business value:</label>
        <input type="number" min="100" max="1500" step="100" class="form-control" id="business_value" placeholder="100-1500" value="{{ story_to_edit[4] if story_to_edit else ''}}" name="business_value">
      </div>
      <div class="form-group">
        <label for="estimation">Estimation:</label>
        <input type="number" min="0.5" max="40" step="0.5" class="form-control" id="estimation" placeholder="0.5-40 h" value="{{ story_to_edit[5] if story_to_edit else ''}}" name="estimation">
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select name="status">
            {% for status in statuses %}
                {% if story_to_edit and story_to_edit[6]==status %}
                    <option value="{{ status }}" selected id="status_selected" name="status">{{ status }}</option>
                {% else %}
                    <option value="{{ status }}" id="status" name="status">{{ status }}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
      <input type="submit" class="btn btn-primary" name="action" value="{{ 'Update User Story' if story_to_edit else 'Add new User Story' }}"></input>
        {% if story_to_edit %}
            <input type="submit" class="btn btn-danger"  name="action" value="Delete">
        {% endif %}
    </form>
{% endblock %}